.posts-block{
    display: flex;
    width : 95%; 
    padding : 10px;
    margin: 5px 50px;
}

.loading-block{
    display: flex;
    width : 95%; 
    padding : 10px;
    margin: 5px 50px;
    height: 300px;
    justify-content: center;
    align-items: center;
}


.big-block{
    width: 900px;
    padding : 10px;
}


.header-block{
    display: flex;
    width : 95%;
    border-bottom: 2px solid blue;
    height: 30px;
    margin: 5px 50px;
    justify-content: space-between;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.329);
}



.header-block span{
    background-color: blue;
    padding : 5px 10px 

}

.header-block ul {
    display: flex;
    list-style: none;
    /* background-color: red; */
    gap : 120px;
    align-items: center;
}

.header-block ul .link{
    text-decoration: none;
    color : gray;
    font-size: 15px;
}
.header-block ul .link:hover{
    color: blue;
}

.header-block select , .header-block select:focus , .header-block select:checked{
    border: none;
}
