.custom-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    height: 100vh;
    margin: 20px auto;
    overflow: hidden;
    width : 90%;
  }
  
  .custom-grid .item-1 {
    grid-column: 1 / span 2; /* Takes first 2 columns */
    grid-row: 1 / span 2; /* Takes both rows */
  }
  
  .custom-grid .item-2 {
    grid-column: 3 / span 2; /* Takes columns 3-4 */
    grid-row: 1;
  }
  
  .custom-grid .item-3 {
    grid-column: 3; /* Starts at column 3 */
    grid-row: 2;
  }
  .custom-grid .item-4 {
    grid-column: 4; /* Starts at column 3 */
    grid-row: 2;
  }

  @media only screen and (max-width: 900px) {

.custom-grid {
    display: flex;
    gap: 8px;
    margin: 20px auto;
    overflow: hidden;
    width : 90%;
  }

  }

  @media only screen and (max-width: 600px) {

    .custom-grid {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 20px auto;
        overflow: hidden;
        width : 90%;
      }
    
      }