.footer{
    width : 100%;
    height: 100vh;
    background-color: rgba(20, 19, 19, 0.836);
    display:  flex;
    justify-content: space-around;
    color : white;
    overflow: hidden;
}
.sup-logo {
    width : 300px;
}
.sup-logo  .icons{
    display: flex;
    justify-content: space-evenly;
    gap : 5px
}

.get-touch{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.get-touch ul{
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 0 30px;  
}
.sup-logo  .logo{
    width : 200px;
    height: 100px;
    margin: 0;
}
.info-website{
    display: flex;
}
ul{
    list-style: none;
    line-height: 30px;
}
a{
    text-decoration: none;
    color : white
}
.filter-cover{
    position: absolute;
    width : 100%;
    z-index: -1;
    height: 100%;
}
.filter-cover img {
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
  }

  .category-ul{
    display: flex;
    flex-direction: column;

  }