.footer{
    width : 100%;
    background-color: rgba(20, 19, 19, 0.836);
    display:  flex;
    justify-content: space-around;
    color : white;
    overflow: hidden;
    position: relative;
    
}
.sup-logo {
    width : 300px;
}
.sup-logo  .icons{
    display: flex;
    justify-content: space-evenly;
    gap : 5px
}

.get-touch{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.get-touch ul{
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 0 30px;  
}
.sup-logo  .logo{
    width : 200px;
    height: 100px;
    margin: 0;
}
.info-website{
    display: flex;
    margin : 50px auto;
    justify-content: space-evenly;

    gap : 2%
}
ul{
    list-style: none;
    line-height: 30px;
}
a{
    text-decoration: none;
    color : white
}
.filter-cover{
    width : 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

}
.filter-cover img {
    filter: grayscale(100%);
    width: 100%;
    object-fit: cover;
    height: 100%;

  }

  .category-ul{
    display: flex;
    flex-direction: column;
  }

  @media only screen and (max-width: 700px) {
    .info-website{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        gap : 2%
    }
  }